interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roundtable.lsst.codes/segwarides/
  response:
    body:
      string: '{"_metadata": {"name": "segwarides", "version": "0.4.2", "description":
        "A simple app to serve credentials to other services.", "repository_url":
        "https://github.com/lsst-sqre/segwarides", "documentation_url": "https://github.com/lsst-sqre/segwarides"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roundtable.lsst.codes/segwarides/creds/usdf_efd
  response:
    body:
      string: '{"host": "usdf-rsp.slac.stanford.edu", "username": "efdreader", "password":
        "9Wkosj2m1d+NeqaNTyPNBA==", "schema_registry": "http://sasquatch-schema-registry.sasquatch:8081",
        "port": "443", "path": "/influxdb-enterprise-data/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data/health
  response:
    body:
      string: '{"checks":[],"message":"ready for queries and writes","name":"influxdb","status":"pass","version":"v1.12.2"}'
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - ENT
      X-Influxdb-Version:
      - v1.12.2
    status:
      code: 200
      message: OK
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SELECT actualPosition FROM "efd"."autogen"."lsst.sal.MTMount.azimuth" WHERE
        time >= '2025-09-12T09:42:30.000Z' AND time <= '2025-09-12T09:45:50.000Z'
    headers: {}
    method: POST
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data/query
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"lsst.sal.MTMount.azimuth","columns":["time","actualPosition"],"values":[[1757670150003328000,-90.0000001213019],[1757670150021330000,-90.0000001135729],[1757670150097784000,-89.999999796686],[1757670150195546000,-89.9999994422583],[1757670150231360000,-89.9999995272768],[1757670150342562000,-90.0000004161061],[1757670150368569000,-89.9999999711394],[1757670150498095000,-90.0000001897583],[1757670150517292000,-89.9999997326461],[1757670150572665000,-90.000000349858],[1757670150693864000,-89.9999999821808],[1757670150718132000,-89.9999998629341],[1757670150811053000,[...]
[...]
