interactions:
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SELECT * FROM "efd"."autogen"."lsst.sal.MTM1M3.logevent_softwareVersions"
        WHERE time >= '2025-01-01T12:00:00.000Z' AND time <= '2025-05-01T12:00:00.000Z'
    headers: {}
    method: POST
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data/query
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"lsst.sal.MTM1M3.logevent_softwareVersions","columns":["time","cscVersion","openSpliceVersion","private_efdStamp","private_identity","private_kafkaStamp","private_origin","private_rcvStamp","private_revCode","private_seqNum","private_sndStamp","salVersion","subsystemVersions","xmlVersion"],"values":[[1737406796471858000,"v2.15.0-80-gf25b970-dirty","6.10.4",1737406796.4718578,"MTM1M3",1737406833.4734488,17965,1737406833.4723392,"995e57c3",0,1737406833.4718578,"7.4.1-dirty","","20.0.0"],[1738067676396268000,"v2.15.0-112-gabc8c159-dirty","0.0.0",1738067676.3962681,"MTM1M3",1738067676.3962648,10012,0,"5cd0553c",0,1738067676.3962648,"10.0.0-rc2-2-ge243d92f-dirty","","22.1.0-2-ga16574f2"],[1738067917221668000,"v2.15.0-112-gabc8c159-dirty","0.0.0",1738067917.2216675,"MTM1M3",1738067917.221664,106[...]
[...]
